.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.item {
    list-style: none;
    padding: 5px 10px;
}

.item:hover {
    color: white;
    background-color: cadetblue;
}